// _components.scss
@use 'variables';
@use 'mixings';

#banner {
    background-image: url('../img/arquero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  
    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      text-align: center;
  
      #bannerTittle {
        color: variables.$secondary-color;
        font-family: variables.$font-family-bebas;
        font-size: variables.$font-size-heading;
  
        .highlight {
          color: variables.$primary-color;
          font-size: variables.$font-size-highlight !important;
          text-shadow: 0.25rem 0.25rem 0.125rem rgba(43, 156, 52, 0.349);
        }
      }
    }
  }
  

/* SECCION DE LAS CARDS */
.icon-circle {
    width: 80px;
    height: 80px;
    background-color: variables.$light-bg; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-family: variables.$font-family-raleway !important; 
}

.calendar {
    width: 100%;
    max-width: 80vw;
    margin: auto;
    font-family: Arial, sans-serif;
}

.calendar th, .calendar td {
    border: .0625rem solid #ddd;
    text-align: center;
    padding: variables.$card-padding; 
}

.calendar th {
    background-color: variables.$dark-bg; 
    color: white;
}

.calendar td {
    height: 5rem;
}

.hoy {
    background-color: variables.$primary-color; 
    color: white;
    font-weight: bold;
}

/* ¿POR QUE SOTER? */
.why-soter {
    display: flex;
    align-items: start; 
}

.why-soter figure {
    display: inline-block;
    max-width: 40%;
}

.why-soter img {
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: block;
    box-shadow: 0 .25rem .5rem rgb(0, 0, 0);
}

.why-soter article {
    display: inline-block;
    width: 55%;
}

.border-image {
    border-radius: variables.$border-radius; 
}

//CONTACTO
.contact {
    @include mixings.flex-center;
  
    form {
        @include mixings.card-box;
        width: 100%;
        max-width: 37.5rem;
      
        .contact-tittle {
          @include mixings.section-title;
          font-size: 1.8em; // opcional si querés mantenerlo más chico
        }
  
      label {
        font-family: variables.$font-family-roboto;
        display: block;
        margin: .625rem 0 .3125rem;
        font-size: 1em;
        color: #555;
      }
  
      input,
      select,
      textarea {
        width: 90%;
        padding: .625rem;
        margin-bottom: .9375rem;
        border: .0625rem solid #ddd;
        border-radius: .25rem;
        font-size: 1em;
        color: #333;
      }
  
      textarea {
        resize: none;
      }
  
      .center-div {
        text-align: center;
      }
  
      .submit-button {
        background-color: variables.$primary-color !important;
        color: #fff;
        padding: .625rem 1.25rem;
        font-size: 1em;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        width: 30%;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: variables.$green-primary !important;
        }
      }
    }
  }

//NOSOTROS
.about-main {
    padding: 2.5rem;
    background-color: #f9f9f9;
  }
  
  .subtittle-about {
    font-family: variables.$font-family-raleway;
    font-size: 4em;
    text-align: center;
    color: variables.$primary-color;
    text-transform: uppercase;
  }
  
  .about-story {
    @include mixings.card-box;
    margin-bottom: 2.5rem;
  
    .story-content {
      @include mixings.flex-center(space-between, center);
    }
  
    .story-image {
      width: 35%;
      padding-left: 1.25rem;
  
      img {
        @include mixings.responsive-img;
      }
    }
  }
  
  .about-mission {
    @include mixings.card-box;
  
    .mission-content {
      color: variables.$font-color-light;
      line-height: 1.6;
    }
  }