// _mixings.scss
@use 'variables';
@mixin card-box {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
  }
  
  @mixin section-title {
    font-family: variables.$font-family-raleway;
    font-size: 4em;
    text-align: center;
    color: variables.$primary-color;
    text-transform: uppercase;
  }
  
  @mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin responsive-img($radius: .5rem) {
    width: 100%;
    height: auto;
    border-radius: $radius;
    object-fit: cover;
  }
  
  @mixin subtitle-style {
    font-family: variables.$font-family-roboto;
    font-size: 1.2em;
    color: variables.$font-color-dark;
    text-align: center;
    margin-bottom: 1.25rem;
  }