// _variables.scss

// Colores
$primary-color: #27AE60;
$secondary-color: #ddd;
$dark-bg: #000;
$light-bg: #eafaf1;
$green-primary:#00722f;
$font-color-light: #333;   


// Fuentes
$font-family-raleway: 'Raleway', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-bebas: 'Bebas Neue', sans-serif;

// Tamaños
$font-size-base: 1.5em;
$font-size-large: 3.5em;
$font-size-heading: 5em;
$font-size-highlight: 4.4rem;
$border-radius: 0.5rem;
$card-padding: 0.625rem;
