/*
            REM
unidad de medida por default en HTML = 1rem
POR LO TANTO
16px = 1rem
8px = .5rem
32px = 2rem

            EM
la declaramos nosotros en el reset CSS
ej: 1em = .625rem (suponiendo que puse eso de font size en el reset)
    2em = 1.25rem
*/

/* 
COLORES 
AZUL MARINO: #1E3888
*/




/* RESET CSS */
/*
*{
    margin: 0;
    padding: 0;
    font-size: .88rem;  <--- este seria el tamaño referencia para EM
}
*/

/*NAVBAR*/
/*
#logo { 
    width: 6.25rem;
    display: block;
    margin: 0 auto;
    padding-top: .625rem;

}

.navbar-container {
    flex-shrink: 0; 
}

.navbar-nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;       
    margin: 0;
}


.navbar-nav a{
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    color: white;
    letter-spacing: .135rem;
}

.navbar-nav a:hover{
    color: rgba(206, 206, 206, 0.699) !important;
}


.active{
    border-bottom: .1875rem solid #27AE60 !important;
    color: #ffffff !important;
}
*/
/* BANNER */
/*
#banner {
    background-image: url('../img/arquero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
    text-align: center; 
}


#bannerTittle{
    color: #ddd;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5em;
}

.highlight{
    color: #27AE60;
    font-size: 4.4rem;
    text-shadow: .25rem .25rem .125rem rgba(43, 156, 52, 0.349);
}

#header__secondary{
    background-color: #212529;
} */

/*SECCION DE LAS CARDS*/
/*
.icon-circle {
    width: 80px;
    height: 80px;
    background-color: #eafaf1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-family: "Raleway", sans-serif !important;
}
*/

/* SECCION DEL CALENDARIO */
/*

.calendar {
    width: 100%;
    max-width: 80vw;
    margin: auto;
    font-family: Arial, sans-serif;
}

.calendar th, .calendar td {
    border: .0625rem solid #ddd;
    text-align: center;
    padding: .625rem;
}

.calendar th {
    background-color: #000000;
    color: white;
}

.calendar td {
    height: 5rem;
}

.hoy {
    background-color: #27AE60;
    color: white;
    font-weight: bold;
} */

/* ¿POR QUE SOTER? */
/*

.why-soter {
    display: flex;
    align-items: start; 
}

.why-soter figure {
    display: inline-block;
    max-width: 40%;
}

.why-soter img {
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: block;
    box-shadow: 0 .25rem .5rem rgb(0, 0, 0);
}

.why-soter article {
    display: inline-block;
    width:55%;
}

.border-image{
    border-radius: .5rem;

}

*/


/* FOOTER */
/*
footer {
    background-color: #000;
  }
  
  .footer-tittles {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    letter-spacing: .125rem;
  }
  
  .logo-footer {
    max-width: 6.25rem;
  }
  
  .social-links img {
    width: 1.875rem;
    height: 1.875rem;
    object-fit: contain;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }

/* CONTACTO */
/*
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #ffffff;
    padding: 1.25rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 37.5rem;
}

.contact-tittle {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1.8em;
    color: #333;
}

label {
    font-family: "Roboto";
    display: block;
    margin: .625rem 0 .3125rem;
    font-size: 1em;
    color: #555;
}

input, select, textarea {
    width: 90%;
    padding: .625rem;
    margin-bottom: .9375rem;
    border: .0625rem solid #ddd;
    border-radius: .25rem;
    font-size: 1em;
    color: #333;
}

textarea {
    resize: none;
}

.center-div{
    text-align: center;
}

.submit-button {
    background-color: #27AE60 !important;
    color: #fff;
    padding: .625rem 1.25rem;
    font-size: 1em;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    width: 30%;
}

.submit-button:hover {
    background-color: #079e46 !important;
} */

/* NOSOTROS */
/*
.about-main {
    padding: 2.5rem;
    background-color: #f9f9f9;
}

.subtittle-about{
    font-family: "Raleway", sans-serif;
    font-size: 4em;
    text-align: center;
    color: #27AE60;
    text-transform: uppercase;
}

.section-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    color: #2b2b2b;
    text-align: center;
    margin-bottom: 1.25rem;
}

.about-story {
    background-color: #fff;
    padding: 1.25rem;
    margin-bottom: 2.5rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
}

.story-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-text {
    width: 60%;
    color: #333;
    line-height: 1.6;
}

.story-image {
    width: 35%;
    padding-left: 1.25rem;
}

.story-image img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.about-mission {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
}

.mission-content {
    color: #333;
    line-height: 1.6;
} */

/* CLASES */
/*
.subtittles{
    font-family: "Raleway", sans-serif;
    font-size: 3.5em;
    padding:2.5rem;
    text-align: center;
    color: #27AE60;
    text-transform: uppercase;
}

.content-p{
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
}

strong{
    font-size: 1.32rem;
}

.padding-section{
    padding: 2.5rem ;
}
*/
/*MODIFICACIONES BOOTSTRAP*/

/* .navbar-toggler {
    border: none !important; 
}

button:hover {
    background-color: transparent !important;
}

.navbar-toggler {
    padding: 0 !important; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    width: 2rem !important;
    height: 2rem !important;
}

.accordion-button:not(.collapsed) {
    color: #000 !important;
}

.accordion-button:not(.collapsed) {
    background-color: #baffd7 !important;
}  */